body {
  font-family: "Roboto Mono", sans-serif;
  text-align: center;
  background-color: #f6f4ef;
}

.config-container {
  margin: 24px 0;
  display: flex;
  justify-content: space-evenly;
}

.title {
  margin: 32px 0;
  font-size: 24px;
}

input[type=range][orient=vertical] {
  writing-mode: vertical-lr;
  direction: rtl;
  width: 16px;
  vertical-align: bottom;
  margin: 8px 0;
}

.dmx-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
}

#slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 8px;
}

.slider-name {
  font-weight: bold;
}

#pad-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 24px;
}

.pad {
  width: 150px;
  height: 150px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 4px 0px rgba(20,20,20,0.5);
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.pad .pad-body {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: opacity 100ms ease-out;
}

.pad .pad-body:hover {
  opacity: 0.8;
}

.pad .pad-footer {
  padding: 4px 0;
}

.pad button {
  padding: 4px;
}