body {
  font-family: Verdana, sans-serif;
  text-align: center;
  background-color: #f6f4ef;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.title {
  margin: 32px 0;
  font-size: 24px;
}

#ws-status {
  background-color: red;
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 100%;
  margin-left: 8px;
  margin-bottom: 2px;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 16px auto;
  background: white;
  border-radius: 8px;
  padding: 12px;
  width: 75%;
}

.navigation button {
  text-decoration: none;
  color: orange;
  transition: all 100ms ease-out;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

.navigation button:hover {
  color: darkorange;
  background: none;
}

#pads-container, #storage-container {
  display: none;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 16px;
}

.dmx-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button, .btn {
  cursor: pointer;
  border: none;
  background: orange;
  color: white;
  transition: all 100ms ease-out;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 16px;
  text-decoration: none;
}

button:hover {
  background: darkorange;
}

input[type=radio] {
  border: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.button-reconnect {
  background: none;
}

.button-reconnect:hover {
  background: none;
}