body {
  font-family: "Roboto Mono", sans-serif;
  min-height: 100%;
  text-align: center;
}

.title {
  margin: 32px 0;
  font-size: 24px;
}

input[type=range][orient=vertical] {
  writing-mode: vertical-lr;
  direction: rtl;
  width: 16px;
  vertical-align: bottom;
  margin: 8px 0;
}

.dmx-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
}

#slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 8px;
}

.slider-name {
  font-weight: bold;
}